<nav class="navbar navbar-dark bg-primary navbar-expand-sm mb-3">
  <div class="container">
    <a class="navbar-brand" href="#">SymphArt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{{ path('article.index') }}" class="nav-link">Articles</a>
        </li>
      </ul>
    </div>
  </div>
</nav>